.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}
.logo{
  width: 228px;
  height: 32px;
}
.logo_place_header{
  position:absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  position: relative;
  width: 730px;
  display:  flex;
  align-items: center;
  left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  margin: 0px 0px 0px 0px; 
}

.header__subtitle{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color:#2f80ed ;
  height: 568px;
  width: 568px;
}
.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}



/* description */

.description {
  display: flex;
  justify-content:  center;
}
.two-columns {
  /* position: absolute; */
  min-width: 784px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  

}
.two-colums_margins{
  padding-top: 100px;
  padding-bottom: 100px;
}
.two-columns__brief {
  margin: 0px 0px 0px 0px;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;

}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns-paragraph {
  margin: 0px 0px 0px 0px; 
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.two-coluns__span-accent {
  font-weight: bold;

}
.two-columns-paragraph_span{
  margin-top: 30px;
  margin-bottom: 30px;
}